@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Industrial Training</h1>
    <p class="lead">This is a compulsory module for the 4 year degree.</p>
    <p><a href="@Url.Action("about","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Href("~/Imagers/sliit-career-guidance-and-counseling-img-3.jpg" )" />
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            All students should register your self, before proceeding furthur with this module.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("RegisterStudent","Account")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Process</h2>
        <p> once you register your self you have a series of forms to process it.</p>
        <p><a class="btn btn-default" href="@Url.Action("FormViewer","Students")">Learn more &raquo;</a></p>
    </div>
</div>